[Unit]
Description=BladeRF ADSB decoder on FPGA
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=always
RestartSec=5s
EnvironmentFile=/etc/bladeRF-adsb/bladeRF_adsb_config 
WorkingDirectory=/etc/bladeRF-adsb
ExecStart=/bin/bladeRF_adsb ${ARG1} ${ARG2} ${ARG3}
[Install]
WantedBy=multi-user.target

